<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="{{product_name}}"
           Language="1033"
           Version="{{version}}"
           Manufacturer="{{manufacturer}}"
           UpgradeCode="{{upgrade_code}}">
    <Package InstallerVersion="200" Compressed="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="{{product_name}}">
          <!-- Основные файлы приложения -->
          <Component Id="MainApplication" Guid="*">
            <File Id="MainExe" Source="{{app_exe_source}}" KeyPath="yes" />
          </Component>

          <!-- Сервис -->
          <Component Id="ServiceComponent" Guid="*">
            <File Id="ServiceExe"
                  Source="$(var.SourceDir)\secure_link_windows_service.exe"
                  KeyPath="yes" />

            <!-- Регистрация сервиса -->
            <ServiceInstall Id="SecureLinkService"
                          Name="SecureLinkService"
                          DisplayName="Secure Link Service"
                          Description="Secure Link Windows Service"
                          Type="ownProcess"
                          Start="auto"
                          ErrorControl="normal"
                          Account="LocalSystem" />

            <ServiceControl Id="ControlSecureLinkService"
                          Name="SecureLinkService"
                          Start="install"
                          Stop="uninstall"
                          Remove="uninstall" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Level="1">
      <ComponentRef Id="MainApplication" />
      <ComponentRef Id="ServiceComponent" />
    </Feature>
  </Product>
</Wix>